name: Ruby

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.3.9'
          - '3.4.7'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run the default task
      run: bundle exec rake
    - name: Check RBS signature
      # fail if after signature generation there are any changes in sig/
      run: |
        bundle exec rbs-inline --opt-out --output=sig lib
        if [[ -n $(git status --porcelain sig/) ]]; then
          echo "RBS signatures are out of date. Please run 'bundle exec rbs-inline --opt-out --output=sig lib' and commit the changes."
          git --no-pager diff sig/
          exit 1
        fi
